@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,600;1,700&display=swap');
@use "_colourvars" as c;

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: "Jost", sans-serif;
	height: 100vh;
	font-size: 1.6rem;

	-webkit-transition: background-color 0.4s ease-in;

	transition: background-color 0.4s ease-in;
}

// TESTING
.brush-logo {
	fill: #fff;
}

.navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgb(71, 71, 71);
	height: 5rem;
	padding: 0 3rem;

	& > * {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	&__title {
		color: #fff;
		margin-left: 1.2rem;
	}

	&__list {
		list-style-type: none;

		&--item {
			margin: 0 1rem;

			a {
				&:link,
				&:visited {
					color: #fff;
				}
				&:hover,
				&:active {
					font-weight: bolder;
				}
			}
		}
	}
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	.container {
		background-color: rgb(71, 71, 71);
		color: gainsboro;
		-webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
		box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
		text-align: center;
		padding: 4rem;
		border: none;
	}

	&__title {
		color: #fff;
	}
}

.btn {
	cursor: pointer;
	outline: none;
	border: 0.1em solid transparent;
	font-size: 1em;
	padding: 0.7em 1.1em;
	margin: 1em;
	text-transform: uppercase;
	background-color: #fff;
	color: rgb(71, 71, 71);
	font-weight: 600;
	border-radius: 0.5em;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;

	&:hover {
		color: #00502c;
	}
}
